* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;
    color: white;


}

.sidebar {
    background-color: #1C0303;
    width: 300px;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* border-radius: 15px; */
    box-shadow: -1px -2px 29px -4px rgba(252, 252, 252, 1);

}

.sidebar-hijo {
    display: flex;
    gap: 20px;
    margin: 10px;
}

.sidebar-hijo1 {
    margin-top: 15px;
    display: flex;
    gap: 20px;

}

.sidebar-padre {
    display: flex;
    align-items: flex-end;
    gap: 60px;
}

.footer {
    width: 100%;
    padding: 20px;
    background-color: #1C0303;
    box-shadow: -1px -2px 29px -4px rgba(252, 252, 252, 1);
    display: flex;
    align-items: center;

}

.lulo {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    align-items: flex-start;


}

h1 {
    display: flex;
    justify-content: center;

    width: 100px;

}

.footer {
    display: flex;
    justify-content: center;
    gap: 400px;
    flex-direction: row;
}

.hijo-footer img {
    height: 100px;
    width: 100px;
}

.hijo-footer {
    display: flex;
    align-items: flex-end;
}



.sidebar-hijo p,
.sidebar-hijo1 p {
    cursor: pointer;
    /* Cambia el cursor a una mano */
    transition: all 0.3s ease;
    /* Agrega una transición suave */
}


.sidebar-hijo p:active,
.sidebar-hijo1 p:active {
    color: #1DB954;
    /* Cambia el color (verde Spotify) */
    transform: scale(1.1);
    /* Aumenta ligeramente el tamaño */
    
}



.card {
    cursor: pointer;
    /* Cambia el cursor a una mano */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Animación suave */
   
}

.card img {
    width: 200px;
    height: 200px;
}

.card:active {
    transform: scale(0.95);
    /* Hace un efecto de "presión" */
    box-shadow: 0px 0px 20px rgba(0, 255, 0, 0.5);
    /* Brillo verde al hacer clic */
}